* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply styles for the entire page */
  body {
    font-family: Arial, sans-serif;
    background-color: darkgrey;
  }
  
  /* Header styles */
  header, .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    padding: 10px;
  }
  
  /* Adjust the website-title styles */
  .website-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border: 2px solid lightblue;
    padding: 10px;
    background-color: lightblue;
    line-height: 30px;
    display: flex; 
    align-items: center; 
  }
  
  /* Adjust the avatar styles */
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px; 
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Adjust the nav styles */
  nav {
    background-color: #808080;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end; 
  }
  
  nav ul li {
    margin-left: 20px; 
  }
  
  nav a {
    text-decoration: none;
    color: #0066cc;
    border-bottom: 2px solid #0066cc;
    
  }
  
  nav a:hover {
    border-bottom-color: lightblue;
  }
  
  nav a:active {
    border-bottom-color: red;
  }
  
  /* Main styles */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1; 
    min-height: calc(100vh - 180px); 
  }
  
  /* About Me section styles */
  .about-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .about-container h2 {
    margin-right: 20px;
  }
  
  .mainproject-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Set a background color for the section */
  }
  
  .mainproject-container {
    max-width: 600px;
    text-align: center;
    position: relative; 
  }
  
  .mainproject-container h2 {
    position: absolute; 
    top: 50%; 
    left: 0%; 
    transform: translateY(-50%); 
    background-color: lightblue;
    padding: 5px;
    margin: 0;
    border: 2px solid lightblue;
    z-index: 1;
  }
  
  .mainproject-container img {
    display: block;
    width: 100%; 
    max-height: 300px; 
    border: 5px solid lightblue;
  }
  
  /* Projects section styles */
  .projects-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }
  
  .project-section {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px; 
  }
  
  .project-section img {
    max-width: 300px;
    max-height: 200px;
    border: 3px solid lightblue; /* Add lightblue border directly to images */
    margin-top: 10px;
  }
  
  .project-section h2 {
    position: absolute; 
    top: 50%; 
    left: 0; 
    transform: translateY(-50%); 
    background-color: lightblue; 
    padding: 5px 10px; 
    margin: 0; 
    border: 2px solid lightblue; 
    z-index: 1; 
  }

  /* Footer styles */
footer {
    background-color: #808080;
    padding: 20px;
    text-align: left;
    color: #fff;
  }
  
  .footer-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  footer h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border: 2px solid lightblue;
    padding: 10px;
    background-color: lightblue;
    line-height: 30px;
    margin: 0; 
  }
  
  .contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline; 
  }
  
  .contact-list li {
    display: inline-block;
    margin-right: 20px;
    color: #0066cc;
    border-bottom: 2px solid #0066cc;
  }
  
  .contact-list li:last-child {
    margin-right: 0;
  }